
<h2>{{ tableTitle }}</h2>
<nz-table
  #rowSelectionTable
  [nzData]="listOfWasteLog"
  [nzFrontPagination]="frontPagination"
  [nzTotal]="totalNumberOfData"
  [nzPageIndex]="pageIndex"
  [nzPageSize]="pageSize"
  [nzShowPagination]="showPagination"
  [nzPaginationPosition]="paginationPosition"
  [nzPaginationType]="paginationType"
  [nzBordered]="showBorder"
  [nzOuterBordered]="outerBordered"
  [nzSize]="sizeOfTable"
  [nzLoading]="loadingStatus"
  [nzFooter]="tableFooter"
  [nzNoResult]="noResult"
  [nzShowQuickJumper]="showQuickJumper"
  [nzHideOnSinglePage]="hidePaginationOnSinglePage"
>
  <thead>
    <tr>
      <th>Ingredient Name</th>
      <th>Wastage Quantity</th>
      <th>Cost Per Unit</th>
      <th>Total Loss (GBP)</th>
      <th>Bought On</th>
      <th>Wasted On</th>
      <th>Shelf Life In Days</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data">
      <td>{{ data.ingredientName }}</td>
      <td>{{ data.totalQuantity }} {{ data.unitOfStock }}</td>
      <td>{{ (data.costPerUnit).toFixed(3) }}</td>
      <td>{{ data.totalCost | currency:'£' }}</td>
      <td>{{ data.boughtAt }}</td>
      <td>{{ data.expirationDate }}</td>
      <td>{{ data.shelfLifeInDays }}</td>
    </tr>
  </tbody>
</nz-table>
