<div [ngClass]="{ 'switch-button-container': true }">
  <h3>Autopilot</h3>
  <nz-switch
  [nzControl]="true"
  [(ngModel)]="autopilotStatus.autoPilotSwitch"
  nzCheckedChildren="On"
  nzUnCheckedChildren="Off"
  (click)="switchClicked()"
></nz-switch>
</div>

<h2>{{ tableTitle }}</h2>
<nz-table
  #rowSelectionTable
  [nzData]="orderedIngredients"
  [nzFrontPagination]="frontPagination"
  [nzTotal]="totalNumberOfData"
  [nzPageIndex]="pageIndex"
  [nzPageSize]="pageSize"
  [nzShowPagination]="showPagination"
  [nzPaginationPosition]="paginationPosition"
  [nzPaginationType]="paginationType"
  [nzBordered]="showBorder"
  [nzOuterBordered]="outerBordered"
  [nzSize]="sizeOfTable"
  [nzLoading]="loadingStatus"
  [nzFooter]="tableFooter"
  [nzNoResult]="noResult"
  [nzShowQuickJumper]="showQuickJumper"
  [nzHideOnSinglePage]="hidePaginationOnSinglePage"
>
  <thead>
    <tr>
      <th>Ingredient Name</th>
      <th>Total Amount</th>
      <th>UOM</th>
      <th>Unit Cost</th>
      <th>Category</th>
      <th>Purchased On</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data">
      <td>{{ data.ingredientName }}</td>
      <td>{{ data.currentStockQuantity }}</td>
      <td>{{ data.unitOfStock }}</td>
      <td>{{ data.costPerUnit }}</td>
      <td>{{ data.category.categoryName }}</td>
      <td>{{ data.createdAt }}</td>
    </tr>
  </tbody>
</nz-table>
