<div nz-td [ngClass]="{ 'add-button-container': true }">
    <button (click)="onAdd()" nz-form [ngClass]="{ 'add-button': true }">
        Shopping Cart
    </button>
</div>

<nz-drawer
    [nzBodyStyle]="{ overflow: 'auto' }"
    [nzMaskClosable]="false"
    [nzWidth]="920"
    [nzVisible]="visible"
    nzTitle="Shopping Cart"
    (nzOnClose)="close()">
    <form nz-form *nzDrawerContent (ngSubmit)="submitForm()">

        <div nz-row [nzGutter]="8" class="mt" style="margin: 20px 0 10px 0">
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label for="ingredientName">Ingredient Name</nz-form-label>
                <nz-form-control>
                  <input
                    nz-input
                    id="ingredientName"
                    [(ngModel)]="query"
                    name="ingredientName"
                    placeholder="Enter ingredient name"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

    </form>
</nz-drawer>


<div style="margin-bottom: 10px;">
    <div style="display: flex;">
        <input type="text" [(ngModel)]="query" (keyup)="searchVendors()" style="margin-right: 10px; width: 300px;" placeholder="   Search Vendors" />
        <button (click)="searchVendors()" style="background-color: #2e4bcc; color: white; border: none; padding: 8px 20px; font-size: 16px; border-radius: 5px;">
            Search
        </button>
    </div>
</div>

<div *ngIf="vendors">
    <div class="vendor-container">
        <div class="vendor-item" *ngFor="let vendor of vendors" class="vendor-item">
            <div class="vendor-logo">
                <img src="{{ vendor.logo }}" alt="{{ vendor.name }} Logo" />
            </div>
            <div class="vendor-details">
                <h3>{{ vendor.firstName }} {{ vendor.lastName }}</h3>
                <p>{{ vendor.description }}</p>
                <button (click)="selectVendor(vendor.id)" style="background-color: #2e4bcc; color: white; border: none; padding: 8px 20px; font-size: 16px; border-radius: 5px;">View Products</button>
            </div>
        </div>
    </div>
</div>


<div *ngIf="selectedVendorId">
    <h2>Selected Vendor Products</h2>
    <div class="product-container">
        <div class="product-item" *ngFor="let product of vendorProducts">
            <div class="product-details">
                <span>{{ product.name }}</span><br>
                <span>Price: {{ product.price }}</span><br>
                <span>Amount: {{ product.minimumOrderAmount }}</span><br>
                <span>Qty: {{ product.qty }}</span>
            </div>
            <div class="button-container">
                <button style="background-color: #2ecc71; color: white; border: none; padding: 5px 10px; font-size: 14px; border-radius: 3px; margin-top: 6px; margin-right: 5px; width: 30px; height: 30px;" (click)="incrementQuantity(product)">+</button>
                <button style="background-color: #e74c3c; color: white; border: none; padding: 5px 10px; font-size: 13px; border-radius: 3px; margin-top: 6px; width: 30px; height: 30px;" (click)="decrementQuantity(product)">-</button>
            </div>
        </div>
    </div>
    <button (click)="placeOrder()" class="add-button">Place Order</button>
    <div *ngIf="cartItems.length > 0">
        <h2>Shopping Cart</h2>
        <div class="cart-container">
          <div class="cart-item" *ngFor="let item of cartItems">
            <span>{{ item.name }} - Qty: {{ item.qty }} - Price: {{ item.price * item.qty }}</span>
          </div>
        </div>
        <p>Total Price: {{ calculateTotalPrice() }}</p>
      </div>
    </div>
