<div nz-td [ngClass]="{ 'add-button-container': true }" (click)="directToShoppingCart()">
    <span *ngIf="cartItems.length > 0" class="cart-notification">{{ cartItems.length }} </span>
    <button nz-form [ngClass]="{ 'cart-button': true }">
     Shopping Cart 
    </button>
</div>

<nz-drawer
    [nzBodyStyle]="{ overflow: 'auto' }"
    [nzMaskClosable]="false"
    [nzWidth]="920"
    [nzVisible]="visible"
    nzTitle="Shopping Cart"
    [nzFooter]="footerTpl"
    (nzOnClose)="close()">
    <form nz-form *nzDrawerContent (ngSubmit)="placeOrder()">

        <!-- <div nz-row [nzGutter]="8" class="mt" style="margin: 20px 0 10px 0">
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label for="ingredientName">Ingredient Name</nz-form-label>
                <nz-form-control>
                  <input
                    nz-input
                    id="ingredientName"
                    [(ngModel)]="query"
                    name="ingredientName"
                    placeholder="Enter ingredient name"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div> -->

          <!-- <div nz-row [nzGutter]="8" class="mt" style="margin: 0 0 10px 0">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label for="deliveryDate">Delivery Date</nz-form-label>
                    <nz-form-control>
                        <nz-date-picker
                            id="deliveryDate"
                            [nzDisabledDate]="disabledDate"
                            nzPlaceHolder="Select delivery date"
                            [nzShowTime]="{ nzFormat: 'hh:mm a' }"
                        ></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>
          </div> -->

          <div *ngIf="cartItems.length > 0">
            <h2>Shopping Cart</h2>
            <div class="cart-container">
              <div class="cart-item" *ngFor="let item of cartItems">
                <span>{{ item.name }} - Qty: {{ item.qty }} - Price: {{ (item.price * item.qty).toFixed(2) }}</span>
              </div>
            </div>
            <p>Total Price: {{ calculateTotalPrice() }}</p>
          </div>

    </form>

    <ng-template #footerTpl>
        <div style="float: right">
          <button nz-button style="margin-right: 8px" (click)="close()">Cancel</button>
          <button nz-button nzType="primary" (click)="placeOrder()">Place Order</button>
        </div>
    </ng-template>

</nz-drawer>


<div class="search-container">
    <div class="flex-container">
        <input type="text" [(ngModel)]="searchTerm" (keyup)="searchVendors()" class="search-input" placeholder="   Search Vendors" />
        <button (click)="searchVendors()" class="search-button">
            Search
        </button>
    </div>
</div>


<div *ngIf="vendors.length > 0">
    <div class="vendor-container">
        <div class="product-item" *ngFor="let vendor of vendors">
            <div class="vendor-logo">
                <img src="{{ vendor.logo }}" alt="{{ vendor.name }} Logo" />
            </div>
            <div class="vendor-container">
                <h3>{{ vendor.firstName }} {{ vendor.lastName }}</h3>
                <p>{{ vendor.description }}</p>
                <button (click)="selectVendor(vendor.id)" class="view-product-button">View Products</button>
            </div>
        </div>
    </div>
</div>


<div *ngIf="selectedVendorId">
    <h2>Selected Vendor Products</h2>

    <div class="product-container">
        <div class="product-item" *ngFor="let product of vendorProducts">
            <div>
                <input type="checkbox" (change)="getSelectedProducts()" [(ngModel)]="product.selected" />
                <div class="product-details">
                    <span>{{ product.name }}</span><br>
                    <span>Price: {{ product.price }}</span><br>
                    <span>Amount: {{ product.minimumOrderAmount }}</span><br>
                    <span>Qty: {{ product.qty }}</span>
                </div>
                <div class="button-container">
                    <button class="minus-button" (click)="incrementQuantity(product)">+</button>
                    <button class="plus-button" (click)="decrementQuantity(product)">-</button>
                </div>
            </div>
        </div>
    </div>

    <button (click)="directToShoppingCart()" class="cart-button">Confirm Order</button>
</div>
