
<div style="margin-bottom: 10px;">
    <div style="display: flex;">
        <input type="text" [(ngModel)]="query" (keyup)="searchVendors()" style="margin-right: 10px; width: 300px;" placeholder="   Search Vendors" />
        <button (click)="searchVendors()" style="background-color: #2ecc71; color: white; border: none; padding: 8px 20px; font-size: 16px; border-radius: 5px;">
            Search
        </button>
    </div>
</div>

<div *ngIf="vendors">
    <div class="vendor-container">
        <div class="vendor-item" *ngFor="let vendor of vendors" class="vendor-item">
            <div class="vendor-logo">
                <img src="{{ vendor.logo }}" alt="{{ vendor.name }} Logo" />
            </div>
            <div class="vendor-details">
                <h3>{{ vendor.firstName }} {{ vendor.lastName }}</h3>
                <p>{{ vendor.description }}</p>
                <button (click)="selectVendor(vendor.id)">View Products</button>
            </div>
        </div>
    </div>
</div>


<div *ngIf="selectedVendorId">
    <h2>Selected Vendor Products</h2>
    <div class="product-container">
        <div class="product-item" *ngFor="let product of vendorProducts">
            <input type="checkbox" [(ngModel)]="product.selected" />
            <span>{{ product.name }} </span><br>
            <span>Price: {{ product.price }} </span><br>
            <span>Amount: {{ product.minimumOrderAmount }} </span><br>
            <span>Qty: {{ product.qty }} </span>
            <button (click)="incrementQuantity(product)">+</button>
            <button (click)="decrementQuantity(product)">-</button>
        </div>
    </div>
    <button (click)="placeOrder()">Place Order</button>
</div>
