.product-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 10px; 
    padding: 20px;
}

.product-item {
    background-color: rgba(13, 42, 207, 0.267);
    color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.vendor-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 10px; 
    padding: 20px;
}