
<h2>{{ tableTitle }}</h2>
<nz-table
    #rowSelectionTable
    [nzData]="listOfIngredients"
    [nzFrontPagination]="frontPagination"
    [nzTotal]="totalNumberOfData"
    [nzPageIndex]="pageIndex"
    [nzPageSize]="pageSize"
    [nzShowPagination]="showPagination"
    [nzPaginationPosition]="paginationPosition"
    [nzPaginationType]="paginationType"
    [nzBordered]="showBorder"
    [nzOuterBordered]="outerBordered"
    [nzSize]="sizeOfTable"
    [nzLoading]="loadingStatus"
    [nzFooter]="tableFooter"
    [nzNoResult]="noResult"
    [nzShowQuickJumper]="showQuickJumper"
    [nzHideOnSinglePage]="hidePaginationOnSinglePage"
>
    <thead>
        <tr>
            <th>Ingredient Name</th>
            <th>Total Amount</th>
            <th>UOM</th>
            <th>Reorder Point</th>
            <th>Description</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of rowSelectionTable.data">
            <td>{{ data.ingredientName }}</td>
            <td>{{ data.currentStockQuantity }}</td>
            <td>{{ data.unitOfStock }}</td>
            <td>{{ data.reorderPoint }}</td>
            <td>{{ data.description }}</td>
            <td>{{ data.category.categoryName }}</td>
        </tr>
    </tbody>
</nz-table>
