<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzWidth]="920"
  [nzVisible]="visible"
  nzTitle="Order Details"
  [nzFooter]="footerTpl"
  (nzOnClose)="onBack()"
>

  <form nz-form *nzDrawerContent>

    <nz-table
  #rowSelectionTable
  [nzData]="listOfProductBatches"
  [nzFrontPagination]="frontPagination"
  [nzTotal]="0"
  [nzPageIndex]="pageIndex"
  [nzPageSize]="11"
  [nzShowPagination]="showPagination"
  [nzPaginationPosition]="paginationPosition"
  [nzPaginationType]="paginationType"
  [nzBordered]="showBorder"
  [nzOuterBordered]="outerBordered"
  [nzSize]="sizeOfTable"
  [nzLoading]="loadingStatus"
  [nzFooter]="tableFooter"
  [nzNoResult]="noResult"
  [nzShowQuickJumper]="showQuickJumper"
  [nzHideOnSinglePage]="hidePaginationOnSinglePage"
>
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Purchase Quantity</th>
      <th>Unit</th>
      <th>Total Cost (GBP)</th>
      <th>Cost Per Unit</th>
      <th>Expiration Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data">
      <td>{{ data.productName }}</td>
      <td>{{ data.purchaseQuantity }}</td>
      <td>{{ data.unitOfStock }}</td>
      <td>{{ data.purchasePrice | currency:'£' }}</td>
      <td>{{ (data.purchasePrice / data.purchaseQuantity).toFixed(2) }}</td>
      <td>{{ data.expirationDate }}</td>
    </tr>
  </tbody>
  
</nz-table>

  </form>

  <ng-template #footerTpl>
    <div style="float: right">
      <button nz-button nzType="primary" (click)="onBack()">Back</button>
    </div>
  </ng-template>

</nz-drawer>

<h2>{{ tableTitle }}</h2>

<nz-table
  #rowSelectionTable
  [nzData]="listOfProductOrders"
  [nzFrontPagination]="frontPagination"
  [nzTotal]="totalNumberOfData"
  [nzPageIndex]="pageIndex"
  [nzPageSize]="pageSize"
  [nzShowPagination]="showPagination"
  [nzPaginationPosition]="paginationPosition"
  [nzPaginationType]="paginationType"
  [nzBordered]="showBorder"
  [nzOuterBordered]="outerBordered"
  [nzSize]="sizeOfTable"
  [nzLoading]="loadingStatus"
  [nzFooter]="tableFooter"
  [nzNoResult]="noResult"
  [nzShowQuickJumper]="showQuickJumper"
  [nzHideOnSinglePage]="hidePaginationOnSinglePage"
>
  <thead>
    <tr>
      <th>Supplier</th>
      <th>Order Status</th>
      <th>Total Cost (GBP)</th>
      <th>Ordered On</th>
      <th>Estimated Arrival Time</th>
      <th>Remaining Time</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data">
      <td>{{ data.vendor.name }}</td>
      <td>{{ data.status }}</td>
      <td>{{ data.totalPrice | currency:'£' }}</td>
      <td>{{ data.orderDate }}</td>
      <td>{{ data.deliveryDate }}</td>
      <td>{{ calculateRemainingTime(data) }}</td>

      <td>
        <button
          *ngIf="showDetailsButton"
          nz-td
          (click)="onDetails(data)"
          [ngClass]="{ 'view-details-button': true }">
          View Details
        </button>
      </td>
    </tr>
  </tbody>

</nz-table>
