<div *ngIf="showAddButton" nz-td [ngClass]="{ 'add-button-container': true }">
  <button (click)="onAdd()" nz-form [ngClass]="{ 'add-button': true }">
    Add
  </button>
</div>

<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzWidth]="920"
  [nzVisible]="visible"
  nzTitle="Delivery Box"
  [nzFooter]="footerTpl"
  (nzOnClose)="close()"
>
  <form nz-form *nzDrawerContent (ngSubmit)="submitForm()">
    <div nz-row [nzGutter]="8" class="mt" style="margin: 20px 0 10px 0">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label for="boxName">Box Name</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              id="boxName"
              [(ngModel)]="boxName"
              name="boxName"
              placeholder="Enter box name"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="8" class="mt" style="margin: 0 0 10px 0">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Reorder Point</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              [(ngModel)]="reorderPoint"
              name="reorderPoint"
              placeholder="Enter reorder point"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="8" class="mt" style="margin: 0 0 10px 0">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Dimensions (cm) </nz-form-label>
          <nz-form-control>
            <input
              nz-input
              [(ngModel)]="dimensions"
              name="dimensions"
              placeholder="Enter dimensions Length x Width x Height"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="8" class="mt" style="margin: 0 0 10px 0">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Waterproof</nz-form-label>
          <nz-form-control>
            <nz-select
              nzPlaceHolder="Enter waterproof or not"
              [nzAllowClear]="true"
              [(ngModel)]="waterproof"
              name="waterproof"
              [nzMaxTagCount]="1"
              nzShowSearch
            >
              <nz-option
                nz-input
                id="waterproof"
                *ngFor="let el of waterproofList"
                [nzValue]="el"
                [nzLabel]="el"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="8" class="mt" style="margin: 0 0 10px 0">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Temperature Limit (°C)</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              [(ngModel)]="temperatureLimit"
              name="temperatureLimit"
              placeholder="Enter temperature limit in celsius"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="8" class="mt" style="margin: 0 0 10px 0">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Weight Limit (kg)</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              [(ngModel)]="weightLimit"
              name="weightLimit"
              placeholder="Enter weight limit in Kg"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>

  <ng-template #footerTpl>
    <div style="float: right">
      <button nz-button style="margin-right: 8px" (click)="close()">
        Cancel
      </button>
      <button nz-button nzType="primary" (click)="submitForm()">Submit</button>
    </div>
  </ng-template>
</nz-drawer>

<h2>{{ tableTitle }}</h2>
<nz-table
  #rowSelectionTable
  [nzData]="listOfBoxes"
  [nzFrontPagination]="frontPagination"
  [nzTotal]="totalNumberOfData"
  [nzPageIndex]="pageIndex"
  [nzPageSize]="pageSize"
  [nzShowPagination]="showPagination"
  [nzPaginationPosition]="paginationPosition"
  [nzPaginationType]="paginationType"
  [nzBordered]="showBorder"
  [nzOuterBordered]="outerBordered"
  [nzSize]="sizeOfTable"
  [nzLoading]="loadingStatus"
  [nzFooter]="tableFooter"
  [nzNoResult]="noResult"
  [nzShowQuickJumper]="showQuickJumper"
  [nzHideOnSinglePage]="hidePaginationOnSinglePage"
>
  <thead>
    <tr>
      <th>Box Name</th>
      <th>Current Stock</th>
      <th>Avg Cost Per Unit</th>
      <th>Reorder Point</th>
      <th>Dimensions (cm) <br> Length x Width x Height</th>
      <th>Unit</th>
      <th>Weight Limit (kg)</th>
      <th>Temperature Limit (°C)</th>
      <th>Waterproof</th>
      <th>Last Updated</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data">
      <td>{{ data.boxName }}</td>
      <td>{{ data.currentStockQuantity }}</td>
      <td>{{ data.costPerUnit }}</td>
      <td>{{ data.reorderPoint }}</td>
      <td>{{ data.dimensions }}</td>
      <td>{{ data.unitOfDimentions }}</td>
      <td>{{ data.weightLimit }}</td>
      <td>{{ data.temperatureLimit }}</td>
      <td>{{ data.waterproof }}</td>
      <td>{{ data.updatedAt }}</td>
      <td>
        <button
          *ngIf="showDeleteButton"
          nz-td
          nz-popconfirm
          nzPopconfirmTitle="Sure to delete?"
          (nzOnConfirm)="onDelete(data.id)"
          [ngClass]="{ 'delete-button': true }"
        >
        <span nz-icon nzType="delete" nzTheme="outline"></span>
        </button>
        <button
          *ngIf="showEditButton"
          nz-td
          (click)="onEdit(data)"
          [ngClass]="{ 'edit-button': true }"
        >
        <span nz-icon nzType="edit" nzTheme="outline"></span>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
