body {
  font-family: "GTPressura", sans-serif;
}

.view-details-button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
  background-color: #3498db; 
  margin-right: 8px;
}

.view-details-button:hover {
  background-color: #2071b3; 
}


h2 {
  font-size: 24px;
  color: #1890ff;
  margin-bottom: 20px;
}
