
<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzWidth]="920"
  [nzVisible]="visible"
  nzTitle="Order Details"
  [nzFooter]="footerTpl"
  (nzOnClose)="onBack()"
>

  <form nz-form *nzDrawerContent>

    <nz-table
  #rowSelectionTable
  [nzData]="listOfIngredientBatch"
  [nzFrontPagination]="frontPagination"
  [nzTotal]="0"
  [nzPageIndex]="pageIndex"
  [nzPageSize]="11"
  [nzShowPagination]="showPagination"
  [nzPaginationPosition]="paginationPosition"
  [nzPaginationType]="paginationType"
  [nzBordered]="showBorder"
  [nzOuterBordered]="outerBordered"
  [nzSize]="sizeOfTable"
  [nzLoading]="loadingStatus"
  [nzFooter]="tableFooter"
  [nzNoResult]="noResult"
  [nzShowQuickJumper]="showQuickJumper"
  [nzHideOnSinglePage]="hidePaginationOnSinglePage"
>
  <thead>
    <tr>
      <th>Ingredient Name</th>
      <th>Purchase Quantity</th>
      <th>Unit</th>
      <th>Total Cost</th>
      <th>Cost Per Unit</th>
      <th>Expiration Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data">
      <td>{{ data.ingredientName }}</td>
      <td>{{ data.purchaseQuantity }}</td>
      <td>{{ data.unitOfStock }}</td>
      <td>{{ data.purchasePrice }}</td>
      <td>{{ data.costPerUnit }}</td>
      <td>{{ data.expirationDate }}</td>
    </tr>
  </tbody>
  
</nz-table>

  </form>

  <ng-template #footerTpl>
    <div style="float: right">
      <button nz-button nzType="primary" (click)="onBack()">Back</button>
    </div>
  </ng-template>

</nz-drawer>

<h2>{{ tableTitle }}</h2>

<nz-table
  #rowSelectionTable
  [nzData]="listOfOrder"
  [nzFrontPagination]="frontPagination"
  [nzTotal]="totalNumberOfData"
  [nzPageIndex]="pageIndex"
  [nzPageSize]="pageSize"
  [nzShowPagination]="showPagination"
  [nzPaginationPosition]="paginationPosition"
  [nzPaginationType]="paginationType"
  [nzBordered]="showBorder"
  [nzOuterBordered]="outerBordered"
  [nzSize]="sizeOfTable"
  [nzLoading]="loadingStatus"
  [nzFooter]="tableFooter"
  [nzNoResult]="noResult"
  [nzShowQuickJumper]="showQuickJumper"
  [nzHideOnSinglePage]="hidePaginationOnSinglePage"
>
  <thead>
    <tr>
      <th>Supplier</th>
      <th>Order Status</th>
      <th>Total Cost</th>
      <th>Ordered At</th>
      <th>Received At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data">
      <td>{{ data.supplier.name }}</td>
      <td>{{ data.status }}</td>
      <td>{{ data.totalPrice }}</td>
      <td>{{ data.orderDate }}</td>
      <td>{{ data.deliveryDate }}</td>

      <td>
        <button
          *ngIf="showDetailsButton"
          nz-td
          (click)="onDetails(data)"
          [ngClass]="{ 'view-details-button': true }">
          View Details
        </button>
      </td>
    </tr>
  </tbody>

</nz-table>
