.delete-button,
.edit-button,
.add-button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
  margin-right: 8px;
}

.delete-button {
  background-color: #e74c3c;
}

.edit-button {
  background-color: #f39c12;
}

.add-button {
  background-color: #2ecc71;
}

.delete-button:hover {
  background-color: #a11809;
}

.edit-button:hover {
  background-color: #ad6f0b;
}

.add-button:hover {
  background-color: #039741;
}

.add-button-container {
  float: right;
}

h2 {
  font-size: 24px;
  color: #26a366;
  margin-bottom: 20px;
}

nz-form-label {
  width: 200px;
  text-align: left;
}

textarea,
input {
  width: 20vw;
}

nz-select {
  width: 20vw !important;
}

.search-box {
  position: absolute;
  background: white;
  left: 60px;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.hide-button {
  margin-right: 8px;
}
