<div class="place-order-container">
    <h2>Place Order</h2>
    <form nz-form [formGroup]="orderForm" (ngSubmit)="submitForm()">
        <div nz-row [nzGutter]="8" class="mt" style="margin: 20px 0 10px 0">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label for="totalPrice" style="margin-right:19px;">Total Price</nz-form-label>
                    <nz-form-control>
                        <input
                            nz-input
                            id="totalPrice"
                            formControlName="totalPrice"
                            placeholder="Enter total price"
                        />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div nz-row [nzGutter]="8" class="mt" style="margin: 0 0 10px 0">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label style="margin-right:45px;">Status</nz-form-label>
                    <nz-form-control>
                        <nz-select
                            nzPlaceHolder="Select status"
                            formControlName="status"
                            [nzAllowClear]="true"
                            [nzMaxTagCount]="1"
                        >
                            <nz-option nz-input [nzValue]="'pending'" [nzLabel]="'pending'"></nz-option>
                            <nz-option nz-input [nzValue]="'preparing'" [nzLabel]="'preparing'"></nz-option>
                            <nz-option nz-input [nzValue]="'out_for_delivery'" [nzLabel]="'Out for Delivery'"></nz-option>
                            <nz-option nz-input [nzValue]="'delivered'" [nzLabel]="'delivered'"></nz-option>
                            <nz-option nz-input [nzValue]="'cancelled'" [nzLabel]="'cancelled'"></nz-option>
                            <nz-option nz-input [nzValue]="'suggestions'" [nzLabel]="'suggestions'"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div nz-row [nzGutter]="8" class="mt" style="margin: 0 0 10px 0">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label for="deliveryDate">Delivery Date</nz-form-label>
                    <nz-form-control>
                        <nz-date-picker
                            id="deliveryDate"
                            formControlName="deliveryDate"
                            nzPlaceHolder="Select delivery date"
                            [nzShowTime]="{ nzFormat: 'hh:mm a' }"
                        ></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div nz-row [nzGutter]="8" class="mt" style="margin: 0 0 10px 0">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label for="supplierId" style="margin-right:15px;">Supplier</nz-form-label>
                    <nz-form-control>
                        <input
                            nz-input
                            id="supplierId"
                            formControlName="supplierId"
                            placeholder="Enter supplier"
                        />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div class="button-container">
            <button nz-button nzType="primary" >Submit</button>
        </div>
    </form>
</div>
