.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 10px; 
  padding: 20px;
}

.product-item {
  background-color: #f8f9fa; 
  color: #495057;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease; 
  font-weight: 600;
  cursor: pointer;
  margin-right: 1rem;
}

.product-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.vendor-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 10px; 
  padding: 20px;
}

/* .vendor-button {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 10px; 
  padding: 20px;
} */

.add-button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
  margin-right: 8px;
}

.add-button {
  background-color: #2ecc71;
}
  
.add-button:hover {
  background-color: #039741;
}
  
.add-button-container {
  float: right;
  position: relative;
}

.cart-notification {
  background-color: #e74c3c;; 
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.plus-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 3px;
  margin-top: 6px;
  width: 30px;
  height: 30px;
}

.plus-button:hover {
  background-color: #c0392b; 
  cursor: pointer;
}

.minus-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 3px;
  margin-top: 6px;
  margin-right: 5px;
  width: 30px;
  height: 30px;
}

.minus-button:hover {
  background-color: #2980b9;
  cursor: pointer;
}

.view-product-button {
  background-color: #2980b9;
  color: white;
  border: none;
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 5px;
  margin-left: 87px;
  transition: background-color 0.3s ease;
}

.view-product-button:hover {
  background-color: #1f3a93; 
  cursor: pointer;
}

.search-container {
  margin-bottom: 10px;
}

.flex-container {
  display: flex;
}

.search-input {
  margin-right: 10px;
  width: 300px;
  border-color: #219d53;
}

.search-button {
  background-color: #27ae60;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.search-button:hover {
  background-color: #219d53; 
}

.cart-button {
  background-color: #27ae60; 
  color: white;
  border: none;
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.cart-button:hover {
  background-color: #219d53; 
}

h2 {
  font-size: 24px;
  color: #26a366;
  margin-bottom: 20px;
}

.cart-container {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.cart-item {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.cart-item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-name {
  font-weight: bold;
  font-size: 16px;
  width: 250px;
}

.item-quantity,
.item-price {
  font-size: 14px;
  
  color: #666;
}

.total-price {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.time-slot-container {
  max-width: 300px; 
  margin: 50px auto; 
  background-color: #fff; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.select-box {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff;
  color: #555;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}

.select-box:hover,
.select-box:focus {
  border-color: #3498db;
}
.vendorImg img {
  max-width: 80px;
  max-height: 80px;
  margin-top: 22px;
}
.vendorInfoDiv {
  display: flex;
  width: 350px;
  height: auto;
}
.vendorInfo {
  margin-left: 20px;
  width: 180px;
}
.vendorInfo p {
  text-align: center;
  width: auto; 
  font-size: 22px;
  color: black;
  /* background-color: #26a366; */
  padding: 10px; 
  border-radius: 100px;
  font-weight: bold;
}

.vendor-button {
  background-color: #27ae60;
  color: white;
  margin-left: 35px;  
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
}

.vendor-button:hover {
  background-color: #219d53;
}
